

.landingpage_main {
    width: 100%;
    display: inline-block;
    /* background: #18191A; */
}

.rodmap_main {
    display: none;
  }

.connect_btn a:hover,.connect_btn a{
    color: white;
    text-decoration: none;
}

.register_in {
    display: flex;
    background: #242526;
    color: white;
    border-radius: 20px;
    margin-top: 118px;
    padding: 60px;
    flex-wrap: wrap;
}
.smart_chain_1 {
    display: none !important;
}

.register_right {
    width: 29%;
}

.register_left {
    width: 70%;
    margin-top: 39px;
}

.smart_chain_1 {
    display: flex;
    margin-right: 50px;
}

.smart_chain_1 p{
    margin: 0;
    margin-top: 3px;
    margin-left: 7px;
      font-family: 'Plus Jakarta Sans' !important;
}

.register_left h1 {
    color: white;
      font-family: 'Plus Jakarta Sans' !important;
    font-weight: bold;
    font-size: 39px;
}

.smart_chain_1 {
    display: none;
}

.register_left p {
    font-size: 17px;
    font-weight: 100;
      font-family: 'Plus Jakarta Sans' !important;
    color: white;
    margin: 16px 0;
}

.owl_crousel {
    display: inline-block;
    width: 100%;
    margin-top: 80px;
}

.maxqore {
    padding: 39px;
    border-radius: 20px;
    min-height: 230px;
}
.maxqore h5{
    color: white;
    font-size: 37px;
    font-family: 'Plus Jakarta Sans' !important;
    font-weight:900;
}



.maxqore button {
    color: white;
    margin-top: 10px;
      font-family: 'Plus Jakarta Sans' !important;
    background: #0f9e81;
    border: 0;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 10px;
}
.join_bth button {
    background: gray;
    color: white;
      font-family: 'Plus Jakarta Sans' !important;
}

.join_bth button ,.previw_input_btn button ,.wall_right button, .need_help_section button {
    background: linear-gradient(180deg,#00e1b7,rgb(62 126 112 / 50%));
    color: white;
      font-family: 'Plus Jakarta Sans' !important;
    border: none;
    margin: 0 12px 0px 0;
    padding: 13px 26px;
    border-radius: 9px;
    font-weight: 400;
}

img.poket_img {
    width: 100%;
}


.register_right i.fa.fa-user-circle-o {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    border: 32px solid;
    border-radius: 50%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* border-image: linear-gradient(65deg, #4e018c 10%, #f2c5d1 50%, #027caa 70%); */
}



.Account_preview {
    width: 100%;
    display: inline-block;
    margin-top: 60px;
}

.account_title h1 {
    color: white;
      font-family: 'Plus Jakarta Sans' !important;
    font-weight: 800;
}


.account_title p {
    font-weight: 500;
      font-family: 'Plus Jakarta Sans' !important;
    color: gray;
    font-size: 15px;
}

.wallwte_input {
    display: flex;
    justify-content: space-between;
}

.wall_left {
    background: #242526;
    padding: 31px;
    border-radius: 20px;
    width: 67%;
}

.wall_left p {
    color: white;
      font-family: 'Plus Jakarta Sans' !important;
    font-size: 14px;
}

input.account_input {
    background: #4f515236;
    border: none;
    border-radius: 10px;
    outline: none;
    width: 80%;
    padding: 12px 20px;
    color: white;
}

.previw_input_btn {
    display: flex;
    justify-content: space-between;
}

.wall_right {
    background: #242526;
    border-radius: 20px;
    padding: 30px;
    width: 30%;
}

.wall_right p {
    color: white;
      font-family: 'Plus Jakarta Sans' !important;
    font-weight: 200;
}

img.roadmaping {
    width: 58px;
}

.roadmap_card {
    display: flex;
    flex-wrap: wrap;
}


.rodmap_main {
    width: 100%;
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 40px;
    position: relative;
    z-index: 99999;
}

.rodmap_main h1 {
    color: white;
      font-family: 'Plus Jakarta Sans' !important;
    font-size: 34px;
    margin-bottom: 37px;
}

.social_card {
    width: 29%;
    background: linear-gradient(180deg,#1b2222,rgba(50,92,74,.31));
    margin: 38px 27px 76px 21px;
    border: 1px solid #00e1b7;
    padding: 20px;
    display: flex;
    text-align: center;
    border-radius: 19px;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.social_card p {
    color: white;
    margin-top: 15px;
      font-family: 'Plus Jakarta Sans' !important;
}

.social_card::before {
    position: absolute;
    content: "";
    width: 377px;
    height: 3px;
    background: #242526;
    bottom: -55px;
}


.social_crd_left_line::before {
    content: "";
    position: absolute;
    width: 122px;
    background: #242526;
    left: 0;
}

.social_crd_left_line,.social_crd_right_line,.social_crd_right_line2,.social_crd_right_line3,
.social_crd_left_line2,.social_crd_left_line3{
    position: relative;
}

.social_crd_left_line::before {
    content: "";
    position: absolute;
    width: 3px;
    background: #242526;
    left: -188px;
    height: 217px;
    top: -82px;
    border-radius: 80px;
}


.social_crd_left_line::before {
    content: "";
    position: absolute;
    width: 3px;
    background: #242526;
    left: -188px;
    height: 248px;
    top: -82px;
    border-left: 0px solid #746d6d00;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.ab_number1 p {
    margin: 0;
    font-size: 15px;
    margin-top: 5px;
}


.ab_number1 {
    position: absolute;
    bottom: -93px;
}

img.rickiconq {
    width: 32px;
    background: #242526;
    border-radius: 50px;
    padding: 4px;
}

.social_crd_right_line::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 270px;
    background: #242526;
    right: -190px;
    top: -82px;
    border-left: 0px solid #746d6d00;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

span.circle_line {
    background: #242526;
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 50px;
    outline: 8px solid black;
}

.rodmap_main {
    width: 100%;
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 40px;
}

.recent.activity {
    margin-top: 70px;
    margin-bottom: 230px;
}

.need_help_section {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    z-index: 9999;
    margin-top: 75px;
}

.need_help_section h1 {
    color: white;
      font-family: 'Plus Jakarta Sans' !important;
    font-size: 37px;
}

.need_help_section p{
    font-family: auto;
    color: white;
      font-family: 'Plus Jakarta Sans' !important;
}

img.bluecircle {
    position: absolute;
    right: -114px;
    z-index: -2;
    top: -932px;
    width: 121%;
    min-height: 590px;
}
.pl_avcti_landing {
    position: relative;
    z-index: 9999;
}

body {
    background: black;
}

.copy_left {
    display: flex;
}

.copy_left p {
    margin-right: 15px;
}

.social_media {
    position: relative;
    z-index: 9999;
}

.copy_right {
    position: relative;
    z-index: 99999;
}

.social_media i {
    background: gray;
    padding: 7px;
    margin: 0 9px;
    border-radius: 50px;
}

img.logolanding {
    width: 64px;
}

img.smart_chain_icon {
    width: 31px;
}

.smart_chains {
    display: flex;
    align-items: baseline;
}

.smart_chain_1 {
    display: flex;
}

.main_top_logo {
    display: flex;
    justify-content: space-between;
    /* background: #18191A; */
    padding: 14px 30px 1px 30px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

@media screen and (max-width: 1500px) and (min-width: 1199px) {
   

    
}

@media only screen and (max-width: 1199px) {
    img.bluecircle {
        position: absolute;
        right: -30px;
        z-index: -2;
        top: -694px;
        width: 110%;
    }

    .register_left p {
        font-size: 14px;
    }

    .social_card {
        width: 28%;
    }
}

@media only screen and (max-width: 991px) {

    .join_bth {
        margin-top: 24px;
    }

    .wallwte_input {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .wall_left {
        width: 100%;
        margin-bottom: 39px;
    }

    .wall_right {
        width: 100%;
        text-align: center;
    }

    .social_card {
        width: 26%;
    }

    .social_card::before {
        width: 256px;
    }

    .social_crd_right_line::after {
        width: 3px;
        height: 292px;
        right: -130px;
    }


    .social_crd_left_line::before {
        left: -130px;
    }

    img.bluecircle {
        right: -38px;
        z-index: -2;
        top: -434px;
        width: 111%;
        min-height: 0;
    }
}

@media only screen and (max-width: 767px) {
    .join_bth button, .previw_input_btn button, .wall_right button, .need_help_section button {
        font-size: 14px;
        width: 100%;
        margin-bottom: 13px;
    }

    .register_left {
        width: 100%;
        margin-top: 39px;
    }

    .register_left p {
        font-size: 14px;
        color: white;
    }



    

    .register_in {
        display: flex;
        background: #242526;
        color: white;
        border-radius: 20px;
        margin-top: 118px;
        padding: 60px;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    input.account_input {
        width: 100%;
        margin-bottom: 21px;
    }

.previw_input_btn {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

    .social_card {
        width: 100%;
        margin: 0;
        margin-bottom: 110px;
    }

    .social_card::before {
        width: 100%;
    }

    .social_crd_right_line::after {
        width: 3px;
        height: 219px;
        right: -282px;
        top: -78px;
    }

    .social_card::before {
        width: 110%;
    }

    .social_crd_left_line::before {
        left: -284px;
        top: -78px;
        height: 246px;
    }

    .social_crd_right_line2::after {
        position: absolute;
        content: "";
        width: 3px;
        height: 239px;
        background: #242526;
        right: -281px;
        top: -166px;
        border-left: 0px solid #746d6d00;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }


    .social_crd_right_line3::after {
        position: absolute;
        content: "";
        width: 3px;
        height: 265px;
        background: #242526;
        right: -281px;
        top: -192px;
        border-left: 0px solid #746d6d00;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    img.bluecircle {
        right: -64px;
        z-index: -2;
        top: -250px;
        width: 126%;
        min-height: 590px;
    }

    .social_crd_left_line2::before {
        content: "";
        position: absolute;
        width: 3px;
        background: #242526;
        left: -281px;
        height: 269px;
        top: -78px;
        border-radius: 80px;
    }

    .social_crd_left_line3::before {
        content: "";
        position: absolute;
        width: 3px;
        background: #242526;
        left: -281px;
        height: 269px;
        top: -78px;
        border-radius: 80px;
    }
    
}

@media only screen and (max-width: 640px) {
    .main_top_logo {
        display: flex;
        justify-content: space-between;
        position: fixed;
    }

    img.logolanding {
        width: 52px;
    }

    .register_in {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .register_right {
        width: 100%;
        display: inline-block;
        margin-top: 30px;
    }

    .register_left h1 {
        font-size: 31px;
    }

    .social_card {
        width: 69%;
        margin: 0;
        margin-bottom: 109px;
    }

    .roadmap_card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .social_crd_right_line3::after {
        width: 3px;
        height: 268px;
        right: -175px;
        top: -192px;
        border-left: 0px solid #746d6d00;
    }

    .social_crd_right_line2::after {
        width: 3px;
        height: 239px;
        right: -174px;
        top: -166px;
        border-left: 0px solid #746d6d00;
    }


    .social_crd_right_line::after {
        width: 3px;
        height: 219px;
        right: -174px;
        top: -77px;
        border-left: 0px solid #746d6d00;
    }

    img.bluecircle {
        right: -15px;
        z-index: -2;
        top: -190px;
        width: 110%;
        min-height: 590px;
    }

    .social_crd_left_line::before {
        left: -174px;
        top: -77px;
        height: 244px;
        border-left: 0px solid #746d6d00;
    }

    .social_crd_left_line2::before {
        width: 3px;
        left: -172px;
        height: 269px;
        top: -78px;
    }

    .social_crd_left_line3::before {
        width: 3px;
        left: -172px;
        height: 265px;
        top: -77px;
    }

    .register_in {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    .need_help_section h1 {
        color: white;
          font-family: 'Plus Jakarta Sans' !important;
        font-size: 32px;
    }

    .register_right {
        width: 100%;
        display: inline-block;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .rodmap_main h1 {
        padding: 0 22px;
    }

    .need_help_section {
        padding: 0 47px;
    }
   

  
}   


@media only screen and (max-width: 480px) {
    .join_bth button, .previw_input_btn button, .wall_right button, .need_help_section button {
        font-size: 14px;
        width: 100%;
        margin-bottom: 18px;
    }

    

    .previw_input_btn {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    input.account_input {
        width: 100%;
        margin-bottom: 13px;
    }

    .account_title h1 {
        font-size: 31px;
    }


    .smart_chain_1 {
        display: none;
    }

   

    .social_card::before {
        width: 130%;
    }

   
    .Account_preview {
        width: 100%;
        display: inline-block;
        margin-top: 60px;
        padding: 20px;
    }

    .rodmap_main h1 {
        padding: 0 24px;
    }

    .need_help_section h1 {
        color: white;
          font-family: 'Plus Jakarta Sans' !important;
        font-size: 24px;
    }

    .copy_right {
        position: relative;
        z-index: 99999;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img.bluecircle {
        right: -15px;
        z-index: -2;
        top: -196px;
        width: 120%;
        min-height: 590px;
    }

    .register_in {
        margin-top: 100px;
        padding: 30px;
    }

    .social_crd_right_line3::after ,.social_crd_left_line2::before,.social_crd_left_line2::before ,.social_crd_right_line2::after,.social_crd_right_line2::after,.social_crd_left_line3::before,.social_crd_right_line::after,.social_crd_left_line::before {
        display: none;
    }

    .maxqore {
        padding: 39px;
        border-radius: 20px;
        min-height: 160px;
    }

    
}



.register_left p {
    font-size: 14px;
    color: white;
    font-weight: 400;
  }